Source: ros-melodic-azure-iot-sdk-c
Section: misc
Priority: optional
Maintainer: Tim Clephas <tim.clephas@nobleo.nl>
Build-Depends: debhelper (>= 9.0.0), cmake, curl, libcurl4-openssl-dev, libssl-dev, uuid-dev
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-azure-iot-sdk-c
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, curl, libcurl4-openssl-dev, libssl-dev, ros-melodic-catkin, uuid-dev
Description: Azure IoT C SDKs and Libraries
